<div *ngIf="category && numberOfQuestions" class="card shadow-sm m-3">
  <a routerLink="/categories/{{ category.id }}" class="nav-link p-0 text-info">
    <h2 class="card-header">{{category.name}}</h2>
  </a>

  <div class="card-body">

    <p class="card-text">
      There is <span class="text-info">{{numberOfQuestions}}</span> available questions.
    <br>
      How many questions do you want ?
    </p>

    <select [(ngModel)]="selectedOption" class="custom-select">

      <option *ngFor="let option of options" value="{{option}}">

        {{option}}

      </option>

    </select>

    <a routerLink="/game/{{ category.id }}/{{ selectedOption }}" class="btn btn-dark mt-3">Start game</a>

  </div>
</div>
